body {
  background: #e0e5ec;
}

h1 {
  position: relative;
  text-align: center;
  font-size: 30px;
  color: #353535;
  font-family: "Cormorant Garmond", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom_btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* Button One */
.btn_1 {
  background: rgb(96, 9, 240);
  background: linear-gradient(
    0deg,
    rgba(96, 9, 240, 1) 0%,
    rgba(129, 5, 240, 1) 100%
  );
  border: none;
}

.btn_1::before {
  height: 0%;
  width: 2px;
}

.btn_1:hover {
  box-shadow: 4px 4px 6px 0px rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0px rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0px rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0px rgba(0, 0, 0, 0.4);
}

/* Button Two */

.btn_2 {
  background: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn_2:hover {
  background: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.btn_2 span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.btn_2::before,
.btn_2::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  box-shadow: 4px 4px 6px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0px rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0px rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}

.btn_2::before {
  height: 0%;
  width: 0.1px;
}

.btn_2::after {
  width: 0%;
  height: 0.1px;
}

.btn_2:hover::before {
  height: 100%;
}

.btn_2:hover::after {
  width: 100%;
}

.btn_2 span::before,
.btn_2 span::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow: 4px 4px 6px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0px rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0px rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}

.btn_2 span::before {
  width: 0.1px;
  height: 0%;
}

.btn_2 span::after {
  width: 0%;
  height: 0.1px;
}

.btn_2 span:hover::before {
  height: 100%;
}

.btn_2 span:hover::after {
  width: 100%;
}

/* Button Three */
.btn_3 {
  background: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);

  line-height: 42px;
  padding: 0;
  border: none;
}

.btn_3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn_3::before,
.btn_3::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  transition: all 0.3s ease;
}

.btn_3::before {
  height: 0%;
  width: 2px;
}

.btn_3::after {
  width: 0%;
  height: 2px;
}

.btn_3:hover::before {
  height: 100%;
}

.btn_3:hover::after {
  width: 100%;
}

.btn_3:hover {
  background: transparent;
}

.btn_3 span:hover {
  color: #c797eb;
}

.btn_3 span:before,
.btn_3 span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  transition: all 0.3s ease;
}

.btn_3 span::before {
  width: 2px;
  height: 0%;
}

.btn_3 span::after {
  height: 2px;
  width: 0%;
}

.btn_3 span:hover::before {
  height: 100%;
}

.btn_3 span:hover::after {
  width: 100%;
}

/* Button Four */
.btn_4 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn_4::after {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}

.btn_4:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0px rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0px rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0px rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0px rgba(116, 125, 136, 0.3);
  color: #fff;
}

.btn_4:hover::after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0px rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0px rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0px rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0px rgba(116, 125, 136, 0.3);
}

/* Button Five */

.btn_5 {
  background: rgb(22, 9, 240);
  background: linear-gradient(
    0deg,
    rgba(22, 9, 240, 1) 0%,
    rgba(49, 110, 244, 1 100%)
  );
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn_5::after {
  position: absolute;
  content: "";
  top: 0%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}

.btn_5:hover {
  color: #fff;
  border: none;
  background: transparent;
}

.btn_5:hover::after {
  background: rgb(0, 3, 255);
  background: linear-gradient(
    0deg,
    rgba(2, 126, 241, 1) 0%,
    rgba(0, 3, 255, 1) 100%
  );
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Button Six */

.btn_6 {
  border: none;
  background: rgb(241, 33, 117);
  background: linear-gradient(
    0deg,
    rgba(251, 33, 117, 1) 0%,
    rgba(234, 76, 137, 1) 100%
  );

  color: #fff;
  overflow: hidden;
}

.btn_6:hover {
  text-decoration: none;
  color: #fff;
}

.btn_6::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}

.btn_6:hover {
  opacity: 0.7;
}

.btn_6:active {
  box-shadow: 4px 4px 6px 0px rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0px rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* Button Seven */
.btn_7 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn_7 span {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );

  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transform-style: all 0.3s;
}

.btn_7 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #ff9, -4px -4px 5px 0px #ff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50%-20px;
}

.btn_7 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn_7:hover span:nth-child(1) {
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 220px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn_7:hover span:nth-child(2) {
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 220px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* Button Eight */
.btn_8 {
  background: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}

.btn_8::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  background-clip: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn_8:hover {
  color: #fff;
}

.btn_8:hover::after {
  top: 0;
  height: 100%;
}

.btn_8:active {
  top: 2px;
}

/* Button Nine */

.btn_9 {
  background: rgb(255, 151, 0);
  border: none;
  z-index: 1;
}

.btn_9::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  background: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;
}

.btn_9:hover {
  color: #000;
}

.btn_9:hover::after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.btn_9:active {
  top: 2px;
}

/* Button Ten */

.btn_10 {
  background: #b621fe;
  border: none;
  z-index: 1;
}

.btn_10::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #663dff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 30px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn_10:hover {
  color: #fff;
}

.btn_10:hover::after {
  left: 0;
  width: 100%;
}

.btn_10:active {
  top: 2px;
}

/* Button Eleven */
.btn_11 {
  border: none;
  color: #000;
}
.btn_11::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 20px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn_11:hover {
  color: #000;
}

.btn_11:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn_11:active {
  top: 2px;
}
